.layout {
  min-height: 100%;

  :global {
    .ant-layout {
      display: flex;
      width: 100%;
      min-height: 100%;
    }

    .ant-menu-item {
      margin: 0 !important;
    }
  }

  .logo {
    height: 64px;
    position: relative;
    text-align: center;

    span {
      width: 90%;
      height: 40px;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 10px;
      line-height: 40px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .logoImg {
    width: 100%;
    height: 64px;
  }

  .layout_warp {
    .layout_warp_header {
      display: flex;
      flex-direction: row-reverse;
      .layout_header_img {
        img {
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 50%;
        }
      }

      .layout_header_name {
        color: #fff;
        margin-left: 15px;
        font-size: 18px;

        span {
          margin-right: 3px;
        }
      }
    }

    .layout_content_warp {
      margin: 0 16px;

      .layout_content_bread {
        margin: 0 16px;
      }

      .layout_content_container {
        padding: 24px;
        min-height: 100%;
        background-color: #fff;
      }

      .layout_content_footer {
        text-align: center;
      }
    }
  }
}
