.top_left_warp {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .top_left_content {
    width: 49%;
    display: flex;
    background-color: #edf0f3;
    padding: 26px;
    margin-bottom: 10px;
    border-radius: 4px;

    img {
      width: 50px;
      height: 50px;
    }

    .top_left_value {
      margin-left: 10px;

      .top_left_title {
        display: block;
        color: #666;
      }

      .top_left_num {
        display: block;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
